<% @cart.orderables.each do |orderable| %>
  <% apartment = orderable.apartment %>
  <div id="<%= "cart-#{apartment.id}" %>">
    <div style="display:flex;justify-content:space-between;margin: 0em 5em;">
      <strong>Название:</strong>
      <%= apartment.title %>
      <strong>Описание:</strong>
      <%= apartment.description %>
      <strong>Цена:</strong>
      <%= apartment.price %>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: apartment.id %>
        
      <% end %>
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: orderable.id %>
        <%= f.submit "X" %>
      <% end %>
      <strong>Итого: ₽</strong>
      <%= orderable.total %>
    </div>
  </div>
<% end %>