<div class="signup-form-container">
  <div class="signup-form">
    <h2>Зарегистрироваться</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name, "Имя" %><br />
        <%= f.text_field :first_name,  autofocus: true, autocomplete: "first_name" %>
      </div>

      <div class="field">
        <%= f.label :last_name, "Фамилия" %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      </div>

      <div class="field">
        <%= f.label :role %><br />
        <%= f.collection_select :role_ids, Role.where(name: ['landlord', 'tenant']), :id, :name %>
      </div>

      <div class="field">
        <%= f.label :email, "Email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "Пароль" %>
        <% if @minimum_password_length %>
        <em>(Минимум <%= @minimum_password_length %> символов)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Подтвердите пароль" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <div class="button-container">
          <%= f.submit "Зарегистрироваться", class: "btn" %>
        </div>
      </div>
    <% end %>

    <div class="links-container">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>