<div class="new-password-form-container">
  <div class="new-password-form">
    <h2>Забыли пароль?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Прислать письмо", class: "btn" %>
      </div>
    <% end %>

    <div class="links-container">
      <%= render "devise/shared/links" %>
    <div>
  </div>
</div>